<app-navbar></app-navbar>
<div class="container glassy mt-3">
  <div class="container text-center">
  </div>
    <h1 class=" header text-center text-dark">Residents</h1>
    <div class="container text-center">
      <!-- Button trigger -->
      <button type="button"
       class="text-center form-control mt-4 mx-auto w-50 p-2 font-weight-bold btn btn-dark btn-lg fw-bold"
       routerLink="/addresident">
        Add a new resident
      </button>
    </div>
<div class="row justify-content-center">
  <table class="table table-bordered custom-rounded-table table-striped mt-4 table table-light">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Flat</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of residents">
        <td>{{ item.name }}</td>
        <td>{{ item.flat }}</td>
        <td class="action-buttons">
            <button class="btn btn-light wide-btn" [routerLink]="['/editresident', item._id]">Edit</button>
            <button (click)="delete(item._id)"class="btn btn-danger wide-btn" >Delete</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>